.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width:  100%;
    font-size: 1.8rem;
    background-color: white;
    font-style: italic;
}

.choice-container:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    box-shadow: 0 0.4rem 1.4rem 0 #191970;
    font-weight: bold;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #FF8C00;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

